# Created by https://www.toptal.com/developers/gitignore/api/ansible
# Edit at https://www.toptal.com/developers/gitignore?templates=ansible

### Ansible ###
*.retry
*.zip

download_files/*.zip
tmp/*
# End of https://www.toptal.com/developers/gitignore/api/ansible