bootstrap.servers={% for host in groups['kafkas'] %}{{ hostvars[host]['inventory_hostname'] }}:9092{% if not loop.last %},{% endif %}{% endfor %}

acks=all
max.in.flight.requests.per.connection=1 
batch.size=65536 
compression.type=lz4 
linger.ms=5