{
    "name": "{{ hostvars[item]['inventory_hostname'] }}",
    "type": "prometheus",
    "url": "http://{{ hostvars[item]['inventory_hostname'] }}:9090",
    "access": "proxy",
    "basicAuth": false
}