#!/bin/bash
if [ "$#" -ne 1 ]; then
    echo "Uso: ./lista_mensagens.sh <topico>";
    exit;
fi
TOPICO=$1

export KAFKA_OPTS="-Djava.security.auth.login.config=/opt/kafka/utils/jaas.conf -Dzookeeper.clientCnxnSocket=org.apache.zookeeper.ClientCnxnSocketNetty -Dzookeeper.client.secure=true -Dzookeeper.ssl.trustStore.location=/var/private/ssl/kafka.server.truststore -Dzookeeper.ssl.trustStore.password=changeme -Dzookeeper.ssl.trustStore.type=PKCS12"
/opt/kafka-2.5/bin/kafka-topics.sh --zookeeper {{ zookeeperlist_ssl }} --topic $TOPICO --describe