#!/bin/bash
/opt/kafka-2.5/bin/kafka-topics.sh --zookeeper {{ zookeeperlist_ssl }} --delete --topic teste4096
/opt/kafka-2.5/bin/kafka-topics.sh --zookeeper {{ zookeeperlist_ssl }} --delete --topic teste512
/opt/kafka-2.5/bin/kafka-topics.sh --create --command-config /opt/kafka/config/producer.config.sasl --bootstrap-server {{ brokerlist }} --replication-factor 6 --partitions 6 --config min.insync.replicas=4 --topic teste4096
/opt/kafka-2.5/bin/kafka-topics.sh --create --command-config /opt/kafka/config/producer.config.sasl --bootstrap-server {{ brokerlist }} --replication-factor 6 --partitions 6 --config min.insync.replicas=4 --topic teste512