#!/bin/bash
if [ "$#" -ne 1 ]; then
    echo "Uso: ./reseta_offset_para_todos_consumer_groups.sh <topico>";
    exit;
fi
TOPICO=$1
/opt/kafka/bin/kafka-consumer-groups.sh --bootstrap-server {{ brokerlist }} --all-groups --reset-offsets --topic $TOPICO --to-earliest